table {
    border: solid black 2px;
    width: 80%
}
  
th, td {
    padding: 15px;
    border-spacing: 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
tr:nth-child(even) {
    background-color: #f5f5f5;
}